.overalaboutus {
  margin-top: 10%;
  margin-bottom: 20%;
}

.aboutus p {
  margin-top: 20px;
  margin-right: 40%;
  margin-left: 10%;
}


.au-img1 {
  height: 20%;
  width: 23%;
  float: right;
  margin-top: -25%;
  margin-right: 5%;

}
