.text-info {
  padding: 20px;
  margin-right: 40%;
  margin-left: 2%;
  margin-top: 5%;
}

.text-info p {
  margin-top: 15px;
  font-family: 'Play', sans-serif;

}

.text-info h1 {
  font-family: 'Play', sans-serif;
}



.logo-text {
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: 15%;
  width: 25%;
  height: 25%;
  top: 5%;
  left: 0;
}

.logo1 {
  width: 10%;
  height: 10%;
  margin-left: 15px;
  margin-top: 5px;
}


.socialmedia {
  margin-left: 70px;
  margin-top: 50px;
}

.socialmedia i {
  margin: 30px;
}

.body1 {
  position: absolute;
  top: -5%;
  left: 100%;
  float: right;
  margin-left: -35%;
  margin-top: 35%;
  width: 30%;
  height: 45%;
  border-radius: 3px;


}
