.overalbody {
background-image: linear-gradient(to bottom, #e7eaee, #e4e8ec, #e1e6e9, #dfe4e7, #dce2e4, #d5dee0, #cfdadc, #c8d6d8, #bcd0cf, #b1c9c4, #a9c2b7, #a4bba9);

}

.text-info {
  padding: 20px;
  margin-right: 0%;
  margin-left: 2%;
  margin-top: 5%;
}

.text-info p {
  margin-top: 2%;
  font-family: 'Play', sans-serif;
}

.text-info h1 {
  font-family: 'Play', sans-serif;
}

.text-info li {
  margin-top: 1%;
  font-family: 'Play', sans-serif;
}

.bubble {
  margin-right: 37%;
  margin-left: 2%;
  border-radius: 5px 5px 5px 5px;
  -moz-box-shadow:    2px 3px 5px 6px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 3px 5px 6px rgba(0, 0, 0, 0.05);
  box-shadow:         2px 3px 5px 6px rgba(0, 0, 0, 0.05);
  background-color: rgba(0,0,0,0.05);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.logo1 {
  width: 10%;
  height: 10%;
  margin-left: 5%;
  margin-top: 1%;
}

.body2 {
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: 10%;
  width: 30%;
  height: 55%;
  top: 15%;
  left: 0;
  border-radius: 3px;
}

.body1 {
  position: absolute;
  top: -1%;
  left: 100%;
  float: right;
  margin-left: -34.5%;
  margin-top: 68%;
  width: 30%;
  height: 45%;
  border-radius: 3px;


}

.socialmedia {
  margin-left: 70px;
  margin-top: 25px;
}

.socialmedia i {
  margin: 30px;
}

.social-menu {
  margin-top: 7%;
  margin-bottom: 0%;
  margin-left: 15%;
}

body {
    background-color: #d8d8d8;
}
h1 {
  text-align: center;
}
.social-menu ul {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}


.aboveslider {
  padding: 20px;
  margin-right: 40%;
  margin-left: 2%;
  margin-top: 0%;
}

.aboveslider p {
  margin-top: 2%;
  font-family: 'Play', sans-serif;

}

.aboveslider h1 {
  font-family: 'Play', sans-serif;

}

.aboveslider li {
  margin-top: 1%;
  font-family: 'Play', sans-serif;
}
